# Environment
.env

# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Airflow
logs/
airflow.db
airflow.cfg

# OS
.DS_Store
Thumbs.db

# Unit test / coverage reports
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Rope
.ropeproject

# Django stuff:
*.log
*.pot

# Sphinx documentation
docs/_build/

# Python Cache
*.pyc

# Environment variables & credentials
.env

# Results of the extract step
data/

# Airflow logs
logs/

# IDE
.vscode
